@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 4376px;
  margin: 2rem 2rem;
}

/* ! Basic Styling*/
ul li {
  list-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.fa {
  display: none;
  width: 154.49px;
  height: 24px;
}

.fa-fas-content {
  flex-direction: column;
  margin-top: 40px;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.clients-section {
  text-align: center;
  /* background-color: red; */
  background-color: #f5f7fa;
  padding: 1rem 0rem;
}
.clients-section h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.clients-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #717171;
}

.clients-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  margin-top: 10px;
}

.clients-logos img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: 8px;
}

header nav {
  /* height: 84px; */
  background-color: #f5f7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

header nav img {
  width: 154.49px;
  height: 24px;
}

.header-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.login-button {
  width: 182px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.login-button-button-1 {
  width: 77px;
  height: 40px;
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  gap: 10px;
  border: none;
}

.login-button-button-2 {
  width: 91px;
  height: 40px;
  border-radius: 6px;
  padding: 10px 20px;
  gap: 10px;
  color: white;
  background-color: #4caf4f;
  border: none;
}

.hero-section {
  background-color: #f5f7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px 144px;
  gap: 104px;
}
.text {
  width: 657px;
  height: 276px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.hero-section h1 {
  height: 152px;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: 0%;
}

.hero-section span {
  color: #4caf4f;
}

.hero-section p {
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  letter-spacing: 0%;
  color: #717171;
}

.hero-section button {
  width: 128px;
  height: 52px;
  border-radius: 4px;
  padding: 14px 32px;
  color: white;
  background-color: #4caf4f;
  border: none;
}

.illustration {
  width: 391px;
  height: 407px;
}

.community {
  margin-top: 40px;
  height: 416px;
  background-color: #fff;
 
}

.community-sectiontitle-description {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.sectiontitle {
  width: 542px;
  height: 88px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #4d4d4d;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #717171;
}

.organization {
  margin-top: 20px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  padding: 0 144px;
}

.organization img {
  width: 65px;
  height: 56px;
}

.membership-org {
  width: 299px;
  height: 260px;

  border-radius: 8px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 6px rgba(171, 190, 209, 0.2);
}

.membership-org h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #4d4d4d;
  text-align: center;
}

.membership-org p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  text-align: center;
}

/* Main Section */
main {
  margin-top: 90px;
  height: 2242px;
  background-color: #fff;
  
  gap: 48px;

}

/* first section */
.unlock {
  height: 433px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 144px;
}

.unlock img {
  width: 441.53px;
  height: 328.99px;
}

.unlock-content {
  width: 661px;
  height: 268px;
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.unlock-cdetails {
  width: 601px;
  height: 184px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.unlock-content button {
  width: 151px;
  height: 52px;
  border-radius: 4px;
  padding: 14px 32px;
  border: none;
  color: #fff;
  background-color: #4caf4f;
}

.unlock-cdetails h1 {
  height: 88px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;

  color: #4d4d4d;
}

.unlock-cdetails p {
  height: 80px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
}

/* Second Section */
.acheivement {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 64px 144px;
}

.section-heading {
  width: 540px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-heading h2 {
  width: 408px;
  height: 88px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4d4d4d;
}

.section-heading h2 span {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4caf4f;
}

.section-heading p {
  width: 540px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #18191f;
}

.count {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.row-1,
.row-2 {
  height: 60px;
  display: flex;
  gap: 30px;
}

.row-1-member,
.row-2-member {
  width: 255px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.row-1-member img,
.row-2-member img {
  width: 48px;
  height: 48px;
}

.row-1-member h2,
.row-2-member h2 {
  width: 191px;
  height: 36px;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #4d4d4d;
}

.row-1-member p,
.row-2-member p {
  width: 191px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #717171;
}

/* third Section */
.calender {
  margin-top: 30px;
}

.unlock-2 img {
  height: 433.4px;
}

/* fourt Section  */
.customer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
  padding: 32px 144px;
  background-color: #f5f7fa;
}

.customer .image {
  width: 326px;
  height: 326px;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 22px;
}

.content-details {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.content-details h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #4caf4f;
}

.content-details :nth-child(1) {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #717171;
}

.content-details :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #89939e;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.content-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.content-logos img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.content-paragrapgh {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;


}

.content-paragrapgh p {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #4caf4f;
  text-align: center;
}

.content-paragrapgh img {
  width: 24px;
  height: 24px;
}

/* fifth section */
.community-update {
  margin-top: 60px;
  height: 506px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.community-update-content-1 {
  height: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.community-update-content-1 h2 {
  width: 1110px;
  height: 44px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #4d4d4d;
  text-align: center;
}

.community-update-content-1 p {
  width: 628px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #717171;
  text-align: center;
}

.community-update-content-2 {
  height: 366px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 144px;
  gap: 16px;
}

.community-update-details {
  width: 368px;
  height: 366px;
  position: relative;
}

.community-update-details img {
  width: 368px;
  height: 286px;
  border-radius: 8px;
}

.frame-15-1-content {
  width: 317px;
  height: 176px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #f5f7fa;
  position: absolute;
  bottom: 0%;
  right: 2.6%;
}

.frame-15-1-content h3 {
  width: 285px;
  height: 84px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #717171;
}

.frame-15-1-content-frame13 {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4caf4f;
}

.frame-15-1-content-frame13 p {
  width: 99px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #4caf4f;
}

.frame-15-1-content-frame13 img {
  width: 24px;
  height: 24px;
}

/* footer  */
footer {
  height: 628px;
  margin-top: 160px;
}

.footer-content {
  height: 300px;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #f5f7fa;
}

.footer-content h3 {
  width: 887px;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  text-align: center;
  color: #263238;
}

.footer-content button {
  width: 178px;
  height: 52px;
  color: #fff;
  background-color: #4caf4f;
  border-radius: 4px;
  padding: 14px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: none;
}

.footer-content img {
  color: #fff;
 
}

/*  footer */
.footer-big-4 {
  height: 328px;
  padding: 64px 165px;
  display: flex;
  gap: 125px;
  background-color: #263238;
}

.company-info {
  width: 350px;
  height: 189.67px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fff;
}

.company-info img {
  width: 191px;
  height: 29.67;
  gap: 9.89px;
}

.copyright {
  width: 350px;
  height: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.copyright p {
  width: 350px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #f5f7fa;
}

.social-link {
  width: 176px;
  width: 32px;
  gap: 16px;
  display: flex;
  align-items: center;
}

.social-link img {
  width: 32px;
  height: 32px;
}

.links {
  width: 635px;
  height: 200px;
  display: flex;
  gap: 30px;
}

.link-col-1,
.link-col-2 {
  width: 160px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link-col-1 h4,
.link-col-2 h4,
.link-col-3 h4 {
  width: 160px;
  height: 28px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.link-col-1 p,
.link-col-2 p {
  width: 160px;
  height: 20px;
  color: #f5f7fa;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.link-items {
  width: 160px;
  height: 148px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
}

.link-col-3 {
  width: 255px;
  height: 92px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.email-input {
  width: 255px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #616675;
  border-radius: 8px;
  padding: 8px;
}

.email-input input {
  width: 126px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #d9dbe1;
}

.email-input img {
  width: 18px;
  height: 18px;
}

/* MOBILE DESIGN */
@media (max-width: 768px) {
  body {
    padding: 2rem 1rem;
    margin: 0rem;
    /* width: 300px; */
  }

  .clients-section p {
    font-size: 12px;
  }

  .clients-section h3 {
    font-size: 5px;
    margin-bottom: 20px;
  }

  .clients-logos {
    gap: 30px;
    margin-top: 20px;
  }

  header nav {
    /* padding: 0 1rem; */
    gap: 20px;
    flex-direction: column;
    /* height: 160px; */
    padding: 2rem 1.5rem;
    /* margin-top: 10px; */
  }

  header nav img {
    display: block;
  }

  .header-menu {
    /* width: 280px; */
    flex-direction: row;
    font-size: 14px;
    gap: 8px;
    padding: 0.3rem 1rem;
  }

  .hero-section {
    flex-direction: column;
    /* margin-top: 50px; */
    text-align: center;
    gap: 145px;
    /* eyes on this */
    padding: 15px 10px;
  }

  .illustration,
  .unlock img,
  .customer .image,
  .content img {
    width: 100%;
    height: 250px;
    display: block;
  }

  .text {
    width: 300px;
    gap: 10px;
    align-items: center;
  }

  .hero-section h1 {
    font-size: 32px;
    height: 200px;
    text-align: center;
  }

  .hero-section p {
    font-size: 10px;
    margin-top: 20px;
  }

  .hero-section button {
    margin-top: 20px;
  }

  .frame-1 {
    height: 390px;
    /* gap: 20px; */
  }

  .illustration {
    width: 200px;
  }

  .community {
    margin-top: 35px;
  }

  .community-sectiontitle-description {
    height: 150px;
    text-align: center;
  }

  .sectiontitle {
    width: 300px;
    font-size: 22px;
  }

  .description {
    margin-top: 50px;
  }

  .organization {
    flex-direction: column;
    padding: 15px 10px;
    gap: 10px;
    margin-top: 10px;
  }

  .membership-org {
    margin-top: 20px;
    width: 280px;
    gap: 15px;
    padding: 15px 20px;
  }

  /* Main Section */
  main {
    margin-top: 601px;
  }

  .unlock {
    flex-direction: column;
    padding: 15px 10px;
    gap: 56px;
  }

  .unlock img,
  .unlock-content,
  .frame-6-2 {
    width: 320px;
    gap: 134px;
  }

  .unlock-cdetails {
    width: 320px;
    gap: 8px;
  }

  .unlock-cdetails h1 {
    height: 130px;
    font-size: 22px;
    line-height: 30px;
  }

  .unlock-cdetails p {
    height: 120px;
    margin-top: 15px;
  }

  /* Second Section */
  /* Second div */
  .acheivement {
    margin-top: 235px;
    /* height: 340px; */
    flex-direction: column;
    /* eyes on this */
    padding: 15px 10px;
    gap: 20px;
  }

  .section-heading {
    width: 300px;
  }

  .section-heading h2,
  .section-heading h2 span {
    width: 300px;
    font-size: 30px;
    height: 140px;
  }

  .section-heading p {
    width: 300px;
    margin-top: 20px;
  }

  .count {
    width: 300px;
    margin-top: 110px;
  }

  .row-1,
  .row-2 {
    height: 150px;
    flex-direction: column;
    /* gap: 60px; */
  }

  .row-1-member h2,
  .row-2-member h2 {
    height: 26px;
    /* font-weight: 700; */
    font-size: 18px;
    line-height: 16px;
  }

  .calender {
    margin-top: 45px;
  }

  .frame-5-2 h1,
  .frame-5-2 p {
    margin-top: 15px;
  }

  .frame-5-2 button {
    margin-top: 30px;
  }

  /* fort div */
  .customer {
    margin-top: 300px;
    flex-direction: column;
    padding: 18px 0px;
    gap: 40px;
    align-items: stretch;
    /* background-color: red; */
  }

  .container {
    /* height: 88px; */
    /* margin-top: 195px; */
    flex-direction: column;
    gap: 10px;
    /* margin-top: 250px; */
  }

  .content-logos img {
    width: 30px;
    height: 30px;
  }

  .content-paragrapgh img {
    width: 18px;
    height: 18px;
  }

  /* last div in sec-section */
  .community-update {
    margin-top: 70px;
    gap: 100px;
  }

  .community-update-content-1 {
    gap: 20px;
  }

  .community-update-content-1 h2 {
    width: 250px;
    height: 84px;
    font-size: 26px;
    text-align: center;
  }

  .community-update-content-1 p {
    width: 328px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }

  .community-update-content-2 {
    flex-direction: column;
    padding: 15px 0px;
    gap: 140px;
    margin-top: 30px;
  }

  .community-update-details {
    width: 320px;
  }

  .community-update-details img {
    width: 320px;
    height: 256px;
  }

  .frame-15-1-content-frame13 img {
    width: 20px;
    height: 20px;
  }

  .frame-15-1-content {
    width: 280px;
    bottom: -35%;
    right: 1.2%;
  }

  .frame-15-1-content h3 {
    font-size: 20px;
  }

  .frame-15-1-content-frame13 {
    gap: 2px;
  }

  .frame-15-1-content-frame13 p {
    font-size: 16px;
  }

  /* footer */
  footer {
    margin-top: 2500px;
  }

  .footer-content {
    padding: 20px 0;
    gap: 46px;
    height: 250px;
  }

  .footer-content h3 {
    width: 300px;
    height: 120px;
    font-size: 32px;
  }

  .footer-big-4 {
    flex-direction: column;
    padding: 15px 20px;
    gap: 75px;
    height: 800px;
  }

  .company-info,
  .copyright,
  .copyright p {
    width: 255px;
  }

  .social-link {
    width: 150px;
  }

  .links {
    width: 255px;
    flex-direction: column;
    gap: 20px;
    color: red;
  }

  .link-col-1,
  .link-col-2,
  .link-col-3 {
    gap: 16px;
  }

  .email-input {
    width: 190px;
  }

  .email-input input {
    height: 12px;
    font-weight: 300;
    font-size: 12px;
    padding: 4px;
  }

  .email-input img {
    width: 14px;
    height: 14px;
  }
}
